@use "./variables" as v;

body {
  color: v.$primary-color;
  background: v.$secondary-color;
  font-family: v.$main-font;
}

::selection {
  background-color: v.$primary-color;
  color: v.$secondary-color;
}
